<!DOCTYPE html>
<html>
  <head>
  
    <link rel="stylesheet" href="..//stylesheets//style.css" />
    <style>
      .error{
        color:red;
        font-weight: 500;
        text-transform: capitalize;
        margin: 8px 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <!--pinterest logo-->
        <img
          src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
          alt="pin logo"
          class="img1"
        />
        <p class="header">Login account to see more</p>
       
        <% if(error.length > 0) { %>
          <p class="error"> <%= error %> </p>
      
     <% } %>

      



        <form action="/login" method="post">
         
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="detail"
          />
         

          <input
            type="password"
            name="password"
            placeholder="Password"
            class="detail"
          />
          <input value="Login" type="submit" class="btn int">Register</input>
        </form>
        <a href="/forgot">Forgot your password?</a>

        

        <footer>
          <p>
            By continuing, you agree to Pinterest's
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
          <a href="/">Not on Pinterest yet? Sign up</a>
        </footer>
      </div>
    </div>
    
  </body>
</html>
